body {
    color: #000000;
}

h6{
    color: rgb(0, 0, 0);
}
p{
    color:rgb(0, 0, 0) ;
}
h1{
    color: rgb(248, 248, 248);
}
h2{
    padding-bottom: 15px
}
header {
    padding: 40px 30px 50px 70px;
    border-color: #ffffff;
    margin: 1px;
    background:#a88b84 ;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 14px 20px;
    display: flex;
    background-color: hsl(0, 0%, 0%);
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 14px 20px;
}
nav ul li a:hover {
    color: #000000;
    background-color: #ddd;
}
section {
    padding: 20px;
}
footer {
    padding: 20px;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
}
section article p {
    padding: 5px 0px;
}
.lista {
    padding: 0 0 0 30px;
}
li::marker {
    font-weight: bold;
}
.produto {
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 10px;
}
.produto h2 {
    color: #3a2c29:
}
.produto p {
    margin: 5px 0
}
.preco {
    color: #a70000;
    font-weight: bold;
}
form {
    padding: 15px;
    border: 2px solid #a88b84;
}
label {
    color: #41322e;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #CCC;
}
input[type="submit"]{
    background-color: #a88b84;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}