body {
    background-color: #273a38;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #00ffb3;
}
h2 {
    color: #00ffb3;
}
ul {
    color: #f0ffff; 
    font-family: Arial, Helvetica, sans-serif;
}